<div>
    <div class="flowers-sort">
        <ul>
            <li><a href="#">Цвет</a></li>
            <li><a href="#">Цена</a></li>
            <li><a href="#">Название</a></li>
        </ul>
    </div>
    <div class="flowers-goods" id="flowers-goods">
        {{#each flowers}}
            <div class="rectangle">

                <div class="flower-img">
                    <img src="{{image}}" alt="logo">
                </div>
                <div class="flower-name">
                    <p>{{flower_name}}</p>
                </div>

                <div class="flower-price">
                    <p>{{cost}}</p>
                </div>
                <div class="flower-button">
                    <button type="submit" name="add_to_cart_button" onclick="add_to_cart({{idflowers}})" id="{{idflowers}}">Приобрести цветочки</button>
                </div>
            </div>
        {{/each}}
    </div>
</div>
